html, body{
    height: 100%;
    width: 100%;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

md-input-container {
    padding: 0 !important;
    margin: 15px 5px 0 5px;
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    font-size: 13px;
}

md-input-container .md-errors-spacer {
    min-height: 0;
    min-width: 0;
}

.select-header-wrap {
    margin-bottom: 50px;
}
.SelectHeader .header-searchbox {
    border: none;
    outline: none;
    height: 48px;
    width: 100%;
    padding: 0;
}

.SelectHeader .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    height: 48px;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.SelectHeader md-content._md {
    max-height: 240px;
    width: 100%
}

.header-searchbox.md-text {
    padding-left: 10px;
}

.error-msg {
	color: red;
	font-size: 12px;
}
.success-msg {
	color: red;
	font-size: 12px;
}
